body {
  background-color: #000;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background: #ff02028e;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .login-form h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    color: #fff;
  }
  
  button {
    width: 30%;
    padding: 10px;
    background: #ee0b0bc7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #ee0b0b;
  }
  
  .login-links {
    margin-top: 1rem;
  }
  
  .login-links a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
  }
  