.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0 0 0px;
}

.cate-headers {
    font-size: 25px;
    font-family: lato;
    font-weight: lighter;
}

.cate-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.cate-links {
    text-decoration: none;
    color: #e67979;
    font-size: 16px;
    font-family: lato;
    width: 50%;
}

.cate-links:hover {
    color: #e67979c0    ;
}