.wishlist-container {
    
    margin: 100px 0 100px 0;
    
}

.wishlist-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wishlist-loading,
.wishlist-error,
.wishlist-empty {
    font-size: 1.2rem;
    color: gray;
    text-align: center;
    margin-top: 50px;
}

.wishlist-grid {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    gap: 50px;
    align-items: center;    
    justify-content: center;
    margin: 100px 0 0px 0;
}

.wishlist-item {
    border: none;
    border-radius: 25px;
    width: 270px;
    height: 360px;
    background: #d31616;
    text-align: center;
    transition: transform 0.3s ease;
}

.wishlist-item:hover {
    transform: scale(1.02);
}

.wishlist-link {
    text-decoration: none;
    color: inherit;
}

.wishlist-image {
    width: 250px;
    height: auto;
    padding: 20px;
    object-fit: cover;
}

.wishlist-product-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

.wishlist-price {
    font-size: 1rem;
    color: #ffffff;
}

.wishlist-stock {
    font-size: 0.9rem;
    color: #ffffff;
}

.wishlist-login {
    text-decoration: none;
    color: #ee0b0b;
}

.wishlist-remove-btn {
    background: #ec7777c7;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    margin-top: 10px;
    transition: background 0.3s;
}

.wishlist-remove-btn:hover {
    background: #ee0b0b;
}
